body{
    font-family:'Courier New', Courier, monospace;
    margin:0;
    padding:20px;
}

.container{
    max-width:600px;
    margin:0 auto;

}
.content-section{
    margin-bottom:50px;
   
}
.content{
    padding:20px;
    margin-bottom:20px;

}
.sticky-header{
    background-color:red;
    color:white;
    padding:0px 20px;
    margin-bottom:10px;
    position:sticky;
    top:0px;



}