.container  p{
    color: blue;
    font-size:16px;
    margin:10px 0;

}
.container .special{
    background-color:red;
    font-weight:bold;
    text-align:center;
}
.container > h2{
    color:darkgreen;
    text-align: center;
    margin-bottom:20px;
    margin-top:20px;
}
.container div h2{
    color:orange;
    font-style:italic;
}
p{
    color:purple;
    font-size:14px;
    margin:5px 0;
}
h1{
    text-align:center;
    color:tomato;
    text-decoration:underline;
    text-decoration-color:black;
    margin-bottom:30px;

}