body{
    display:flex;
    justify-content:center;
    flex-direction:row;
    height:100vh;
    align-items:center;
    background-color:rgba(143, 235, 148, 0.198);
    margin:0;
    padding:20px;
}
.profile-card{
    display:flex;
    border-radius:16px;
    box-shadow:12px 12px 4px rgba(0,0,0,1);
    max-width:500px;
    width:100%;
    background-color:rgba(120, 217, 10, 0.32);
}
.profile-sidebar{
    background-color:rgba(8, 196, 77, 0.908);
    padding:30px;
    text-align:center;
    color:rgba(251, 37, 5, 0.963);
}
.profile-photo{
    height:120px;
    width:120px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid rgba(205, 190, 50, 0.907);
    margin-bottom:15px;
}
.profile-main{
    padding:30px;

}
h1{
    margin:10px;
}
h1:hover{
    color:white;
}
.job-title{
    font-size:18px;
}
.job-title:hover{
    color:black;
}

.company{
    color:rgb(255, 230, 0);
    font-weight:bolder:
}
.company:hover{
    color:grey;
}
.bio{
   font-size:18px;
   color:rgba(0, 140, 255, 0.733);
   margin-bottom:15px; 
}
.bio:hover{
    color:red;
}
.contact-info{
    font-size:18px;
    color:rgb(7, 74, 141);
    margin-top:15px;
}
.contact-info:hover{
    color:rgb(120, 162, 22);
}
.social-links{
    display:flex;
    gap:15px;
    justify-content:center;
    margin-bottom:20px;
}
.social-links a{
    color:rgb(16, 38, 230);
    font-size:20px;
}
.social-links a:hover{
    color:rgb(181, 9, 9);
    font-size:20px;
}
.skills{
    display:flex;
    gap:8px;
    margin-bottom:20px;
    justify-content:center;
    flex-wrap:wrap;
}
.skill{
    background-color:rgb(75, 219, 14);
    color:white;
    padding:5px 10px;
    border-radius:20px;
    font-weight:bold;
    margin:10px;
    font-size:12px;
}
.skill:hover{
    color:darkorchid;
}
.cta-button{
    background-color:rgb(226, 104, 43);
    color:black;
    font-weight:bold;
    border:none;
    padding:10px 20px;
    border-radius:15px;
    cursor:pointer;
    width:100%;
}
.cta-button:hover{
    color:rgba(214, 17, 17, 0.886);
}