body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:10px 20px;
    padding:20px;
    padding-top:60px;
    background-color:rgba(15, 210, 89, 0.337);
}

.fixed-header{
    background-color:aqua;
    text-align:center;
    font-weight:bold;
    line-height:50px;
    position:fixed;
    top:0;
    left:0;
    right:0;

}
.fixed-button{
    position:fixed;
    bottom:20px;
    right: 20px;
    padding:10px 20px;
    background-color:red;
    font-weight:bold;
    border-radius:50px;
    cursor:pointer;
    color:white;


}
