body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height:1.4;
    margin:10px 20px;
    padding:10px;
}
.container{
    border:5px solid red;
    padding:20px;
    height:210px;
    position:relative;
}
.box{
    background-color:yellow;
    width:70px;
    color:purple;
    font-weight:bold;
    height:20px;
}
.absolute{
    position:absolute;
    bottom:0px;
    right:0px;
}
