/*Variables*/

:root{
    --primary-color:#3498db;
    --secondary-color:#2ecc71;
    --acent-color:#e74c3c;
    --text-color:#2c3e50;
    --bg-color:#ecf0f1;
    --white:#ffffff;
    --black:#000000;
}

*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height:1.6;
}

.container{
    max-width:1200px;
    margin:0 auto;
    overflow:hidden;
    padding:0 20px;
}

header{
    background: var(--white);
    color: var(--black);
    padding:10px 0;
    box-shadow:0 4px 8px rgba(0,0,0,1);
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0px 20px; 
}

.logo{
    font-size:24px;
    font-weight:bold;
    color: var(--primary-color);
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:20px;
}

.nav-links a{
    text-decoration: none;
    color: var(--text-color);
    font-weight:bold;
    transition: color 0.3s ease;
}
.nav-links a:hover{
    color: var(--primary-color);
}

.hero{
    background: linear-gradient(     /* used to create a smooth transition between two or more colors along a straight line*/
        135deg,
        rgba(243, 8, 51, 0.5),
        rgba(68, 220, 172, 0.7)
    ),url('https://cdn.pixabay.com/photo/2023/09/28/07/25/technology-8280863_1280.jpg');
    height:100vh;
    color: var(--white);
    text-align:center;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    justify-content:center;

}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
    font-weight:700;
    text-shadow:2px 2px 4px rgba(0,0,0,0.7);
}

.hero p{
    font-size:24px;
    margin-bottom:30px;
    opacity:0.9;      /*	 controls the transparency of an element.The value ranges from 0 (completely transparent) to 1 (fully opaque). */
    text-shadow:1px 1px 3px rgba(0,0,0,0.6);
}

.btn{
    display:inline-block;
    padding:12px 30px;
    font-size:18px;
    color: var(--white);
    background-color: var(--acent-color);
    border:none;
    border-radius:105px;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:bold;
    text-decoration:none;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: var(--secondary-color);
}

.about{
    padding:60px 0;
}

.about-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
}

.about-text{
    flex:1;
}

.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.portfolio{
    background:rgba(57, 210, 223, 0.195);
    padding:60px 0;
}

.portfolio h2{
    text-align:center;
    margin-bottom:40px;
    font-size:36px;
    color: var(--primary-color);
}

.portfolio-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.portfolio-item{
    flex-basis:30%;
    margin-bottom:30px;
    background: var(--white);
    border-radius:10px;
    box-shadow:0 4px 8px rgba(1,1,1,1);
    overflow:hidden;
    transition: transform 0.3s ease;
}

.portfolio-grid img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.portfolio-item-content{
    padding:20px;
}

.portfolio-item-content h3{
    margin-bottom:10px;
    color: var(--primary-color);
    font-size:22px;
   text-shadow:2px 2px 4px rgba(50, 207, 14, 0.7);
}

.portfolio-item-content p{
    font-size:16px;
    color:var(--black);
    line-height:1.4;
    text-shadow:2px 2px 4px rgba(125, 85, 85, 0.7);
}
.portfolio-item-content .categories{
    margin-top:15px;
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item-content .category{
    display:inline-block;
    background: var(--secondary-color);
    color: var(--white);
    font-weight:bold;
    padding:5px 10px;
    border-radius:5px;
    font-size:14px;
    margin-right:5px;
    margin-bottom:5px;
    font-size:10px;   
}

.cta{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:40px 0;
    background: linear-gradient(
        135deg,
        var(--secondary-color),
        var(--primary-color)
    );  
}

.cta h2{
    color: var(--white);
    font-size:32px;
    margin-bottom:20px;
    text-shadow:2px 2px 4px rgba(0,0,0,0.7);
}

.cta .btn{
    background-color: var(--white);
    color: var(--primary-color);
    border-radius:100px;
}

.cta p{
    font-weight:bold;
    margin-top:10px;
    margin-bottom:10px;
}

.contact{
    padding:100px 0;
    background-color:rgb(255, 255, 255);
}

.contact h2{
    text-align:center;
    margin-bottom:40px;
    font-size:36px;
    color: var(--primary-color);
}

form{
    max-width:600px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
}

.form-group{
    margin-bottom:15px;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input,textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

footer{
    background: var(--text-color);
    color: var(--white);
    text-align:center;
    padding:20px 0;
    margin-top:40px;
    font-size:14px;
    box-shadow:04px 8px rgba(0,0,0,1);
}
    