      
            body{
                background-color:aquamarine;
                font-family: Arial;
                text-align: center;
                padding: 50px;               
            }
            h1{
                color:rgb(19, 1, 36);
                font-size:30px;  
                font-weight: bolder;           
                line-height:1.5;
                text-decoration: underline;
                margin-bottom:20px;
                text-transform:uppercase;                       
            } 
            p{
                color:blue;
                font-weight: bold;
                line-height:1.6;
                margin-bottom:20px;
                font-size:20px;       
            }
            p:nth-of-type(2){
                color: red; 
                font-style: italic;               
            }
            a{
                color:black;
                background-color:white;
                padding:10px 20px;
                font-weight:bold;
                line-height:1.5;
                margin-top:20px;
                text-decoration:underline;
                border-radius:100px;
                font-size:16px;
            }

